WHISPER_MODEL=base
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8

TTS_RATE=170
# Hugging Face Token để tải model nhanh & không bị rate limit (tùy chọn)
HF_TOKEN=your_huggingface_token_here
# Bật tốc độ tải siêu tốc từ Hugging Face Hub (tùy chọn)
HF_XET_HIGH_PERFORMANCE=1